fastapi
uvicorn[standard]
sqlalchemy
langchain
langchain-experimental
langchain-openai
langchain-community
langchain-core
langchain-classic
python-dotenv
prettytable
pydantic
pydantic-settings
pyodbc
aiofiles
python-multipart
psycopg2-binary
